services:
  - type: web
    name: react-iptv-player
    runtime: node
    plan: free
    region: frankfurt
    branch: main
    buildCommand: npm ci && npm run build
    startCommand: npm start
    healthCheckPath: /
    envVars:
      - key: NODE_ENV
        value: production